<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Editar <%= product.title %>
    </h1>
    <form action="/products/<%= product.id %>/edit?_method=PUT" method="post">
        <input name="title" value="<%= product.title %>" type="text"><input name="price" value="<%= product.price %>"
            type="text"><input type="submit">
    </form>
</body>

</html>