<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <ul>
        <li><a href="/login">Iiniciar sesion</a></li>
        <li><a href="/register">Registrarme</a></li>
    </ul>
    <h1>Bienvenido al home <%= userName %>!</h1>
    <h3><a href="/products/list">Lista de productos</a></h3>

</body>

</html>