<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products List</title>
</head>

<body>
    <h1><a href="/home">Home</a></h1>
    <h2><a href="/products/create">Subir Producto</a></h2>

    <% products.forEach(product=> { %>
        <div class="card">
            <h2>
                <%= product.title %>
            </h2>
            <p>
                <%= product.description %>
            </p>
            <p>
                <%= product.price %>
            </p>
            <button><a href="/products/<%= product.id %>/detail">Ver mas</a></button>
            <% }) %>

        </div>
</body>

</html>